*
{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

.container
{
    width: 100%;
    height: 100%;
    background: rgb(153, 189, 255);
}

.menu ul
{
    display: inline-flex;
    margin: 20px;
}

.menu ul li
{
    list-style: none;
    margin: 0 15px;
    color: navy;
}

.menu ul li a
{
    color: navy;
}

.logo img
{
    width: 30px;
    margin-top: -7px;
    margin-right: 48px;
}

.active 
{
    color: aliceblue;
}


.banner
{
    width: 90%;
    height: 70%;
    top: 10%;
    left: 10%;
    position: relative;
    color: navy;
}

.text
{
    width: 95%;
    float: left;
    color: darkblue;
}

.text h1
{
    font-size: xxx-large;
    position: relative;
    margin-left: 0px;
}

.text h2
{
    font-size: xx-large;
    margin-top: 20px;
    margin-bottom: 15px;
}

.text h3
{
    margin-left: 5%;
    margin-bottom: 10px;
}

.text p
{
    font-size: large;
    margin: 10px 0 20px;
    line-height: 25px;
}

.text p2
{
    margin-left: 5%;
    width: 95%;
}

.text ul li
{
    margin-top: -10px;
    margin-left: 5%;
}

.text ul li a
{
    color: navy;
}

.social-icons
{
    right: 5%;
    bottom: 5%;
    position: fixed;
}

.social-icons ul li
{
    list-style: none;
    margin-top: 10px;
    text-align: center;
}

.social-icons ul li a
{
    color: rgb(12, 84, 84);
    border-radius: 30%;
    border: 3px solid rgb(12, 84, 84);
    padding: 10px;
    display: block;
}

